.products-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 450px;
}

.card {
    transition: box-shadow 0.3s;

    &:hover {
        box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.5);
    }
}
.product-price {
    color: #6a6d73;
}

.bold {
    font-weight: bold;
}
